@{
    ViewBag.Title = "Kontakt";
}

<div class="container my-5 py-5 z-depth-1 bg-white">
    <section class="px-md-5 mx-md-5 text-center dark-grey-text">
        <div class="row text-center">
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <i class="fas fa-map-marker-alt fa-2x text-my-pink"></i>
                <p class="font-weight-bold my-3">Adresa</p>
                <p class="text-muted">Maksimirska cesta 58a, 10000, Zagreb, Croatia</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <i class="fas fa-phone fa-2x text-my-pink"></i>
                <p class="font-weight-bold my-3">Telefon</p>
                <p class="text-muted">+38512332861</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <i class="fas fa-envelope fa-2x text-my-pink"></i>
                <p class="font-weight-bold my-3">E-mail</p>
                <p class="text-muted">info@algebra.hr</p>
            </div>
        </div>

        <!--Google map-->
        <div class="z-depth-1 map-container mb-5 mt-5">
            <iframe src="https://maps.google.com/maps?q=ALGEBRA+Zagreb+Maksimirska&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
        </div>
    </section>
</div>


