@{
    ViewBag.Title = "ObrisiSeminar";
}

<div class="jumbotron">

    <h4>@ViewBag.Poruka</h4>
    <a href="/Seminari/Index"><button type="button" class="ml-5 mt-3 btn btn-link" style="background-color: #B2D456; color: white">U redu</button></a>
</div>


