
@{
    ViewBag.Title = "ObrisiPredbiljezbu";
}

<div class="jumbotron">
    <h5 class="mt-4">@ViewBag.Poruka</h5>
    <a href="/Predbiljezbe/Index"><button type="button" class="ml-5 mt-3 btn btn-link" style="background-color: #B2D456; color: white">U redu</button></a>
</div>

